<h4>Employee Detail</h4>
<h1>welcome {{ename}}</h1>


   Ename:<input [(ngModel)]="ename"> 
   <br>
   <br>


<div>
  <form >
  <table border="20px" aria-busy="true" >
    <tr>
    <td>EmpId</td><br>
    <td>Name</td><br>
    <td>Email</td><br>
    <td>Phone</td><br>
    <td>Salary</td><br>
    <td>Appraisal Rating</td><br>
    </tr>
    <tr *ngIf="!employee || employee.length==0">  
        <td colspan="5">  
            No employees to display  
        </td>  
    </tr>
    
    <tr *ngFor="let emp of employee"> 
        
        <td>{{emp.empId}}</td><br>
        <td>{{emp.name|uppercase}}</td><br>
        <td>{{emp.email|lowercase}}</td><br>
        <td>{{emp.phone}}</td><br>
        <td>{{emp.salary}}</td><br>
        <td>{{emp.appraisalRating|number}}</td><br>
    </tr>

   

  </table>
</form>
</div>